html {
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
}

 body {
    margin: 0;
    padding: 0;
}
   .first-image,.secand-image,.third-image, .fourth-image {
     background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
 }

 .first-image{
    background-image: url(img/4.jpeg);
    min-height: 500px;
    
 }
 .secand-image {
    background-image: url(img/2.jpeg);
    min-height: 500px;
 }
 .third-image {
    background-image: url(img/3.jpg);
    min-height: 500px;
    /* opacity: 0.1; */
 }
 .fourth-image {
    background-image:url(img/4.jpeg) ;
    min-height: 500px;
 }

 section{
    /* text-align:center; */
    text-decoration: solid;
    padding: 3rem 5rem;
 }
 .Section-light{
    background-color: #f4f4f4;
     color: #0f0f0f; 
 }
 .section-dark{
    background-color: #282e34;
    color: #ddd;
 }
 .image {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
 }
 .image div {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 8;
    text-transform: uppercase;
 }